* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left:10px;
    padding-right:5%;
}

.title{
    color: white;
    font-size:28px;
    padding: 0px 20px;
}

.nav li {
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
}

.nav a{
    color:white;
    text-decoration:none;
    font-weight: bold;
}

.nav a:hover{
    color:red;
    transition:0.15s;
}

.profileImage{
    border-radius: 30%;
    padding: 50px 50px;
}

.desc{
    padding:0px 50px;
    width:500px;
    word-wrap:break-word;
}

.textdesc{
    font-size:25px;
}

.event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    margin: 0 auto;
  }
  
  h2 {
    margin-bottom: 1rem;
  }
  
  label {
    margin-top: 1rem;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #006bb7;
  }
  
  
  .inputE{
    position:absolute;
    top:150px;
    width:50%;
    margin: 0 auto;
    left: 500px;
  }
  
  
  .searchbar {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top: 10px;
  }

  .searchbar ol{
    position:relative;
    list-style: none;
    left:50px;
  }

  a.linker{
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
  }

  a.linker:hover{
    text-decoration: underline;
  }