.message-area {
    background: #ebebeb;
    height: 1px;
    overflow: auto;
    padding: 2px;
    box-sizing:border-box;
}
 
.message-area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.message-area li:before {
    content: "\003e";
    padding-right: 10px;
}